name: singularity-deploy

on:
  push:
    # This branch does not exist! You should update this to be your "production" branch
    # and ensure that when you work on recipes you only merge to this branch when it's time to release
    # You can also use another GitHub trigger entirely
    branches:
      - "main"

jobs:
  release:
    name: Create Release
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get Latest Tag
        run: |
            # Get the latest tag, we won't build if it's the current
            git fetch --tags
            latest_tag=$(git tag | tail -1)
            echo "latest_tag=$latest_tag" >> $GITHUB_ENV

      - name: Define Repository Name and Release Version
        run: |
            repo=$(echo "${GITHUB_REPOSITORY/\//-}")
            release=$(cat VERSION)
            echo "reponame=$repo" >> $GITHUB_ENV
            echo "release_tag=$release" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        if: ${{ env.release_tag != env.latest_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.release_tag }}
          release_name: Release ${{ env.release_tag }}
          draft: false
          prerelease: false

      - uses: eWaterCycle/setup-singularity@v7
        if: ${{ env.release_tag != env.latest_tag }}
        with:
          singularity-version: 3.7.1

      - name: Build the singularity container
        if: ${{ env.release_tag != env.latest_tag }}
        run: |
            repo=$(echo "${GITHUB_REPOSITORY/\//-}")

            # For each Singularity* container, build based on the prefix (tag) 
            rm -rf large && mkdir -p large

            for recipe in $(ls Singularity*); do
                echo "Building $recipe"
                tag=$(echo "${recipe/Singularity\./}")
                # If we find empty, use latest
                if [ "$tag" == "Singularity" ]; then
                    tag=latest
                fi
                # Build the container and name by tag
                echo "Tag is $tag."
                container="$tag.sif"
                singularity build --fakeroot container.sif "$recipe"

                if [ "$?" == "0" ]; then
                    echo "Successfully built container $container."

                    file_size=$(stat -c%s container.sif)
                    two_gb=$((2*1024*1024*1024))

                    mv container.sif "$container"

                    if [ "$file_size" -gt "$two_gb" ]; then
                        echo "Container is larger than 2GB. This image won't be available on the release page"
                        mv "$container" large/
                    else
                      rm "$container"
                    fi
                else
                    echo "There was an issue building $container."          
                fi
            done

            mv large/ /nfs/data/large/

  push:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          repository: schirmer-lab/large-data
          ref: 'main'
      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - run: |
          cp /nfs/data/large/*.sif .
          git add --all
          git commit -m "Update large data"
      - run: git push origin main
