name: singularity-deploy

on:
  push:
    # This branch does not exist! You should update this to be your "production" branch
    # and ensure that when you work on recipes you only merge to this branch when it's time to release
    # You can also use another GitHub trigger entirely
    branches:
      - "main"

jobs:
  release:
    name: Create Release
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Get Latest Tag
        run: |
            # Get the latest tag, we won't build if it's the current
            git fetch --tags
            latest_tag=$(git tag | tail -1)
            echo "latest_tag=$latest_tag" >> $GITHUB_ENV

      - name: Define Repository Name and Release Version
        run: |
            repo=$(echo "${GITHUB_REPOSITORY/\//-}")
            release=$(cat VERSION)
            echo "reponame=$repo" >> $GITHUB_ENV
            echo "release_tag=$release" >> $GITHUB_ENV

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        if: ${{ env.release_tag != env.latest_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.release_tag }}
          release_name: Release ${{ env.release_tag }}
          draft: false
          prerelease: false

      - uses: eWaterCycle/setup-singularity@v7
        if: ${{ env.release_tag != env.latest_tag }}
        with:
          singularity-version: 3.7.1

      - name: Build the singularity container
        if: ${{ env.release_tag != env.latest_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.ACTIONS_ACCESS_TOKEN }}
        run: |
            repo=$(echo "${GITHUB_REPOSITORY/\//-}")

            # For each Singularity* container, build based on the prefix (tag) 
            for recipe in $(ls Singularity*); do
                echo "Building $recipe"
                tag=$(echo "${recipe/Singularity\./}")
                # If we find empty, use latest
                if [ "$tag" == "Singularity" ]; then
                    tag=latest
                fi
                # Build the container and name by tag
                echo "Tag is $tag."
                container="$tag.sif"
                singularity build --fakeroot container.sif "$recipe"

                if [ "$?" == "0" ]; then
                    echo "Successfully built container $container."

                    file_size=$(stat -c%s container.sif)
                    two_gb=$((2*1024*1024*1024))

                    mv container.sif "$container"

                    if [ "$file_size" -gt "$two_gb" ]; then

                        echo "Container is larger than 2GB. This image won't be available on the release page"
                        
                        rm -rf large-data
                        git clone --single-branch --branch main https://gariem:$GITHUB_TOKEN@github.com/schirmer-lab/large-data.git large-data
                        cd large-data
                        git config user.name "Emilio Garcia"
                        git config user.email "emilio.rios@tum.de"

                        git add "$container"
                        git commit -m "Release $container to LSF"
                        git push -u origin main

                        cd .. && rm -rf large-data

                        rm "$container"

                    fi
                else
                    echo "There was an issue building $container."          
                fi
            done

      - name: Upload Release Assets
        if: ${{ env.release_tag != env.latest_tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          upload_url: ${{ steps.create_release.outputs.upload_url }} 
          tag_name: ${{ env.release_tag }}
        run: |
          gh release upload "$tag_name" $(find . -type f -name "*.sif" -printf "%p ")
