name: singularity-deploy-test

permissions:
  deployments: write
  contents: write
  statuses: write
  actions: write
  checks: read
  
# run on creation of a release tag
on:
  pull_request: []

jobs:
  push:
    name: Push to LFS
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          repository: schirmer-lab/large-data
          ref: 'main'
          token: ${{ secrets.ACTIONS_ACCESS_TOKEN }}
      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
          git config --global http.postBuffer 524288000
      - run: |
          cp /nfs/data/large_images/*.sif .
          git add --all
          git commit -m "Update large data"
      - run: git push origin main
