name: singularity-deploy-test

# run on creation of a release tag
on:
  pull_request: []

jobs:


  push:
    name: Push to LFS
    needs: builder
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          repository: schirmer-lab/large-data
          ref: 'main'
      - name: setup git config
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - run: |
          cp /nfs/data/large_images/*.sif .
          git add --all
          git commit -m "Update large data"
      - run: git push origin main
